<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta name="description"
              content="Simple web application for searching primary iguana
              species and providing quick access to their Wikipedia articles.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/styles.css" rel="stylesheet"/>
        <link rel="icon" href="iguana-logo.png">
        <title>Iguanas Anywhere</title>
    </head>
<body>
    <div class="container">
        <h1><a href="/">Iguanas Anywhere</a></h1>
        <label for="userInput">Search for your favorite iguana</label>
        <form id="iguanaForm" action="#" th:action="@{/search}" th:object="${iguanaForm}" method="post">
            <input type="text" th:field="*{userInput}"/>
            <input type="submit" value="Search"/>
        </form>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Scientific Name</th>
                    <th>Alternate Names</th>
                </tr>
            </thead>
            <tr class="iguana" th:each="ig: ${iguanas}">
                <td><a rel="noreferrer" href="#" target="_blank" th:href="'https://en.wikipedia.org/wiki/' + ${ig.wikiLink}" th:text="${ig.name}"></a></td>
                <td th:text="${ig.binomialName}"></td>
                <td th:text="${#strings.listJoin(ig.alternateNames, ', ')}"></td>
            </tr>
        </table>
    </div>
</body>
</html>